@import "tailwindcss";

body {
  @apply min-h-screen bg-[#fafafa] text-gray-900;
}
/* Sign In Button for default supabase green color  */
button[type="submit"] {
  @apply text-white font-semibold bg-gradient-to-r from-purple-500 via-pink-500 to-orange-500 hover:opacity-90 transition;
  border: none !important;
}
.lovers-quarrel-regular {
  font-family: "Lovers Quarrel", cursive;
  font-weight: 400;
  font-style: normal;
}
/* Brand utilities */
.fleur-de-leah-regular {
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
}
.quintessential-regular {
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}
.tinos-regular {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
}

.tinos-bold {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: normal;
}

.tinos-regular-italic {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: italic;
}

.tinos-bold-italic {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: italic;
}



